// Public view of an organization

#content-wrap.organization-content-wrap
    .organization-banner
        @extend .clearfix
        background: transparent
        border-bottom: 3px solid white
        float: left
        padding: 0
        position: relative
        .cover
            width: 100%
        .overlay-blurb
            background: rgba(0, 0, 0, .75)
            padding: 15px 20px
            position: absolute
            top: 120px
            right: calc(50% - 585px)
            width: auto
            p
                color: white
                font-size: 2rem
        .organization-header
            +shadow(0px -14px 20px rgba(0, 0, 0, .2))
            +roundedCorners(3px 3px 0 0)
            background: white
            height: 75px
            line-height: 2rem
            padding: 25px
            position: absolute
            text-transform: uppercase
            bottom: 0
            right: calc(50% - 585px)
            width: 1170px
    .organization-mission
        background: transparent
        padding: 0
        margin-bottom: 50px
        .center-wrap
            +roundedCorners(0 0 3px 3px)
            background: white
            padding: 25px
            p
                text-align: left
                padding-bottom: 20px