// GLOBAL VARIABLES AND MIXINS

$black: #333333
$light_grey: #D7D7D9
$light_blue: #8CD3F3
$blue: #33ABE3
$dark_blue: #2072A8
$green: #28C0A9
$dark_green: #1C7466

// IN USE: 

$highlight_color: $light_blue
$text_color: lighten($black, 40%)
$link_color: $blue

// GLOBAL MIXINS

@mixin border-box
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box

@mixin noOuterDimensions
    margin: 0
    border: 0 none
    outline: 0 none
    padding: 0

@mixin resetList($display: block)
    @include noOuterDimensions
    display: $display
    list-style: none

@mixin roundedCorners($radius: 5px)
    border-radius: $radius
    -moz-border-radius: $radius
    -webkit-border-radius: $radius
    background-clip: padding-box
    -moz-background-clip: padding-box
    -webkit-background-clip: padding-box

@mixin text-shadow($settings: 1px 1px 0px rgba(255, 255, 255, 1))
    text-shadow: $settings
    -moz-text-shadow: $settings
    -webkit-text-shadow: $settings

@mixin shadow($settings)
    box-shadow: $settings
    -moz-box-shadow: $settings
    -webkit-box-shadow: $settings

@mixin backgroundGradient($fromColor, $toColor)
    background-color: $toColor
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor))
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor)
    background-image: -moz-linear-gradient(top, $fromColor, $toColor)
    background-image: -ms-linear-gradient(top, $fromColor, $toColor)
    background-image: -o-linear-gradient(top, $fromColor, $toColor)
    background-image: linear-gradient(top, $fromColor, $toColor)
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}')
@mixin opacity($value)
    opacity: $value
    filter: unquote("alpha(opacity=#{($value * 100)})")

@mixin transition($property: all, $time: .5s)
    // transition times
    transition-duration: $time
    -o-transition-duration: $time
    -ms-transition-duration: $time
    -moz-transition-duration: $time
    -webkit-transition-duration: $time
    // transition properties
    transition-property: $property
    -o-transition-property: $property
    -ms-transition-property: $property
    -moz-transition-property: $property
    -webkit-transition-property: $property
    // transition function
    transition-timing-function: ease-in-out
    -o-transition-timing-function: ease-in-out
    -ms-transition-timing-function: ease-in-out
    -moz-transition-timing-function: ease-in-out
    -webkit-transition-timing-function: ease-in-out

@mixin backgroundSize($tuplePercent)
    background-size: $tuplePercent
    -moz-background-size: $tuplePercent
    -webkit-background-size: $tuplePercent

@mixin transform($transform)
    transform: $transform
    -moz-transform: $transform
    -webkit-transform: $transform