// LAYOUT

#sidebar-wrap
    min-height: 100%
    position: fixed
    width: 300px
    y-overflow: scroll

#dash-wrap
    min-height: 100%
    position: absolute
    right: 0
    width: calc(100% - 300px)