// HEADER

.center-wrap
    margin: 0 auto
    position: relative
    max-width: 1170px
    width: 100%

.header-wrap
    background: white
    border-bottom: 5px solid $green
    height: 80px
    padding: 20px 25px
    position: fixed
    width: 100%
    z-index: 1000
    .center-wrap
        a#logo
            img
                height: 35px
        ol.navigation
            position: absolute
            right: 25px
            top: 2px
            li
                float: left
                height: 100%
                padding: 8px 0 8px 35px
                &:first-child
                    padding-left: 0
                a, &.login
                    color: #878789
                    font-weight: 400
                a:hover
                    cursor: pointer
                    color: $light-blue
#content-wrap
    position: relative
    top: 0
    width: 100%
    z-index: 500
    .login-wrap
        h3
            float: left
            margin-bottom: 10px
            width: 100%
        h3, label
            color: #575759
            line-height: 1em
            a.right
                color: #878789
                padding-top: 5px
                i
                    font-size: .9em
                &:hover
                    color: $black
        input
            width: 100%
        input[type="checkbox"]
            width: 20px
        label
            float: left
            margin-top: 2px
        a.form-footer-link
            width: 100%
    .welcome-banner
        background-image: url(asset_path('shoes.jpg'))
        background-position: center
        background-size: cover
        height: 100%
        max-height: 730px
        padding: 0
        position: relative
        text-align: center
        .overlay-text-wrapper
            +transform(translateY(-50%))
            position: relative
            top: 50%
            .slogan
                +text-shadow(1px 1px 2px darken($dark_green, 7%))
                color: white
                font-size: 3.2em
                font-weight: 100
                line-height: 1.3em
                padding-bottom: 1em
                text-align: center
            .button
                font-size: 1.2em
                font-weight: 400
        .total-counter
            +shadow(0px -1px 6px 0px #272729)
            background: url(asset_path('bg_pattern.png')) $black
            bottom: 0
            height: 80px
            padding: 10px 25px 15px 25px
            position: absolute
            width: 100%
            .counter
                color: white
                font-size: 2em
                padding: 10px 0
                .blue
                    font-weight: 100
                    padding: 0 15px
    section
        background: white
        float: left
        padding: 70px 25px
        width: 100%
        &.gap
            background: url(asset_path('maze.png')) transparent
            height: 80px
            padding: 0
        .center-wrap
            padding: 0px 25px
            text-align: center
            .section-header
                background: white
                display: table
                font-weight: 800
                margin: 0 auto
                padding: 0 15px
                width: auto
            .section-header-line
                border-top: 1px solid $light_grey
                height: 1px
                margin: 0 auto -25px auto
                width: 600px
            .content-wrap
                text-align: center
                padding: 0px 0
                width: 100%
        &.about
            .about-header
                padding-top: 0
            .about-steps
                height: auto
                width: 100%
                .about-step
                    float: left
                    margin-right: 5%
                    padding: 50px 0
                    width: 30%
                    &:last-child
                        margin-right: 0
                    img.icon
                        margin: 20px
                        width: 40px
                        margin-bottom: 40px
                    h5
                        padding-bottom: 10px
                    p
                        text-align: justify
                        color: $text_color
        &.charities
            .charities-list
                width: 100%
                .charity
                    +shadow(0px 0px 5px 1px lighten($text_color, 20%))
                    float: left
                    margin: 40px 4% 0 0
                    min-height: 180px
                    width: 22%
                    &.row-end
                        margin-right: 0
                    .charity-logo
                        background: teal
                        min-height: 100px
                        width: 100%
                    .charity-name
                        text-align: left
                        padding: 10px
                        width: 100%
                    .charity-total
                        font-size: .85em
                        padding: 0 10px
                        text-align: left
                        width: 100%
                        .green
                            font-weight: bold
        &.contact
            .message
                color: $text_color
                margin: 40px auto
                width: 550px




