// LAYOUT RESET STYLES

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, a, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
    padding: 0
    margin: 0
    border: 0
    outline: 0
    vertical-align: baseline
    list-style: none outside none
    float: left

*, *:before, *:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

// PAGE ELEMENTS & COMMON CLASSES

html, body
    min-height: 100%
    width: 100%

html
    background: white

#sidebar-wrap
    min-height: 100%
    position: fixed
    width: 300px
    y-overflow: scroll

#content-wrap
    min-height: 100%
    position: absolute
    right: 0
    width: calc(100% - 300px)

.right
    float: right

.small-caps
    float: none
    font-size: .8em
    text-transform: uppercase

// SIDEBAR

#sidebar-wrap
    background: url(asset_path('bg_pattern.png')) #353535
    color: white
    padding: 15px
    a
        color: #a7a7a9
        &:hover
            color: white
    #logo
        color: white
        font-size: 2em
        height: 75px
        padding-top: 10px
        text-align: center
        width: 100%
    .list-header
        color: #676769
        font-size: .8em
        text-transform: uppercase
        width: 100%
    .divider
        border-top: 1px solid #474749
        margin: 20px 0
        width: 100%
    .new-goal, .new-pact
        color: white
        margin-top: 10px
    #goals-list, #pacts-list
        width: 100%
        li
            padding: 10px 0
            width: 100%
            a
                color: #b7b7b9
                &:hover
                    color: white
    #user-wrap
        bottom: 0
        left: 0
        padding: 25px
        position: absolute
        width: 100%

// CONTENT

#content-wrap
    padding: 25px

// LOGIN

body.login
    background: url(asset_path('bg.png')) white
    min-height: 100%
    #center-wrap
        float: none
        margin: 0 auto
        max-width: 750px
        padding-top: 50px
        text-align: center
        width: 100%
        #logo
            float: none
            color: white
            font-size: 2.5em
            margin: 25px auto
            text-align: center
        #login-wrap
            +roundedCorners()
            +shadow(0 0 3px 1px #454545)
            background: url(asset_path('bg_pattern.png')) #353535
            color: white
            float: left
            padding: 25px
            margin: 50px 20%
            max-width: 500px
            text-align: left
            width: 60%
            a
                color: #a7a7a9
                &:hover
                    color: white