// LAYOUT RESET STYLES

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, a, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
    padding: 0
    margin: 0
    border: 0
    outline: 0
    vertical-align: baseline
    list-style: none outside none

*, *:before, *:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

// PAGE ELEMENTS & COMMON CLASSES

html, body
    min-height: 100%
    width: 100%

html
    background: white
    background: url(asset_path('bg.png')) fixed white
    height: 100%

html#dash
    background: white

.right
    float: right

.blue
    color: $light_blue

.green
    color: $green

.small-caps
    float: none
    font-size: .8em
    text-transform: uppercase

p.notice, p.alert
    +roundedCorners()
    background: #2980B9
    color: lighten(#2980B9, 55%)
    padding: 10px 20px
    margin-bottom: 20px
    width: 100%
    &.notice
        background: #2980B9
        color: lighten(#CF0000, 55%)