// FONTS

@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700,400)

// CONTENT RESET STYLES

div, li, a, p, h1, h2, h3, h4, h5, h6, label, input, th, td
    font-family: "Roboto", "Helvetica Neue", Verdana, Arial, sans-serif
    font-size: 11pt
    letter-spacing: .03em
    list-style: none outside none
    text-decoration: none

// HEADERS

h1, h2, h3, h4, h5, h6
    font-weight: 500
    padding-bottom: .5em
    width: 100%

h1
    font-size: 40pt
h2
    font-size: 25pt
h3
    font-size: 20pt
h4
    font-size: 18pt
h5
    font-size: 14pt  

// SMALLER ELEMENTS

a
    color: $link_color
    &:hover
        color: lighten($link_color, 10%)