<%= form_for('/goals/create', html: {id: "new-goal", autocomplete: "off", :class => "form"}) do |f| %>
    <div class="form-section">
        <h4 class="form-section-header">Let's get started! What's your goal?</h4>
        <div class="form-line">
            <p class="note">I am </p>
            <select id="type">
                <option value="1" default="default">running a marathon</option>
                <option value="2">running a half-marathon</option>
                <option value="3">running a 5K</option>
                <option value="4">doing an Iron Man</option>
                <option value="4">doing a triathlon</option>
                <option value="5">other</option>
            </select>
            <p class="note">for</p>
            <select id="charity">
                <option value="1">Habitat for Humanity</option>
            </select>
        </div>

        <button type="submit" class="button accent">Continue</button>
        <div class="clearfix"></div>
    </div>
<% end %>