<h1>Tell us about your goal!</h1>

<%= form_for(create_goal_path, html: {id: "new-goal", autocomplete: "off" }) do |f| %>
	<p>First things first, what is your goal?</p>
	<h4>I am [RUNNING A MARATHON] for [GREENPEACE]!</h4>


<% end %>