<section class="organization-banner">
    <img src="<%= asset_path('charities/HFH.png') %>" class="cover" />
    <div class="overlay-blurb">
        <p>Help build houses and hope</p>
    </div>
    <h1 class="organization-header"><%= @charity.name %></h1>
    <div class="center-wrap" id="mission">
        <p>At Habitat for Humanity, we build. We build because we believe that everyone, everywhere, should have a healthy, affordable place to call home. More than building homes, we build communities, we build hope and we build the opportunity for families to help themselves.</p>

        <p>Your donation will help families break the cycle of poverty and build long-term financial security. With an affordable, stable home, families have more to spend on food, medicine, child care, education and other essentials. Your support can help us do more in all the many ways that Habitat builds.</p>

        <p>Thanks to you, Habitat is transforming the lives of more than 4 million people around the world!</p>

        <p>Check out <a href="http://www.habitat.org/" target="_blank">http://www.habitat.org/</a> for more info.</p>
    </div>
</section>

<section class="organization-impact" id="impact">
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">IMPACT</h2>
    </div>
</section>

<section class="gap"></section>

<section class="organization-showcase" id="showcase">
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">SHOWCASE</h2>
    </div>
</section>

<section id="contact" class="gap"></section>

<section class="contact">
    <!-- LINK TO contact@vampa.org -->
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">CONTACT US</h2>
        <div class="content-wrap">
            <p class="message">
                GoalPact is part of the <a href="http://vampa.org">VAMPA</a> network. Get in touch with us if you have questions, comments or concerns by emailing us at <a href="mailto:contact@vampa.org">contact@vampa.org</a> <br />
                Also contact us if you would like us to support your charity!
            </p>
        </div>
    </div>
</section>