<section class="organization-banner">
    <img src="<%= asset_path('charities/HFH.png') %>" class="cover" />
    <div class="overlay-blurb">
        <p><%= @charity.blurb %></p>
    </div>
    <h1 class="organization-header"><%= @charity.name %></h1>
</section>

<section class="organization-impact" id="impact">
    <div class="center-wrap">
        <p>Lipsum</p>
    </div>
</section>

<section class="gap"></section>

<section class="organization-impact" id="impact">
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">IMPACT</h2>
    </div>
</section>

<section class="gap"></section>

<section class="organization-impact" id="impact">
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">SHOWCASE</h2>
    </div>
</section>

<section id="contact" class="gap"></section>

<section class="contact">
    <!-- LINK TO contact@vampa.org -->
    <div class="center-wrap">
        <div class="section-header-line"></div>
        <h2 class="section-header">CONTACT US</h2>
        <div class="content-wrap">
            <p class="message">
                GoalPact is part of the <a href="http://vampa.org">VAMPA</a> network. Get in touch with us if you have questions, comments or concerns by emailing us at <a href="mailto:contact@vampa.org">contact@vampa.org</a> <br />
                Also contact us if you would like us to support your charity!
            </p>
        </div>
    </div>
</section>