<% if notice || alert %>
    <p class="alert">
        <% if notice %>
            <span class="message"><%= notice %></span>
        <% elsif alert %>
            <span class="message"><%= alert %></span>
        <% end %>
    </p>
<% end %>

<div class="panel panel-2">
    <h4 class="panel-header">Activity</h4>
    <div class="panel-content">
        <p>Graph of $ pacted daily for your goal since it became published. http://www.chartjs.org/</p>
    </div>
</div>

<div class="panel panel-1">
    <h4 class="panel-header">Motivation</h4>
    <div class="panel-content">
        <p>Cool visual of what time you need matched to $ raised.</p>
    </div>
</div>

<div class="panel">
    <h4 class="panel-header">Pacts</h4>
    <div class="panel-content">
        <p>If any, shows a list of people and goals you've made pacts with and total $ amounts.</p>
    </div>
</div>