<h2>Welcome back, Alex!</h2>

<% if notice || alert %>
    <p class="alert">
        <% if notice %>
            <span class="message"><%= notice %></span>
        <% elsif alert %>
            <span class="message"><%= alert %></span>
        <% end %>
    </p>
<% end %>

<div id="content">
    <div class="panel">
        <h4 class="panel-header">Goal Performance</h4>
        <p>How much has been raised for goal, total pacts, visual representation of finish time to $ raised for which charity.</p>
    </div>

    <div class="panel">
        <h4 class="panel-header">Pacts Made</h4>
        <p>If any, shows a list of people and goals you've made pacts with and total $ amounts.</p>
    </div>
</div>