<% if notice || alert %>
    <p class="alert">
        <% if notice %>
            <span class="message"><%= notice %></span>
        <% elsif alert %>
            <span class="message"><%= alert %></span>
        <% end %>
    </p>
<% end %>

<div class="panel panel-2">
    <h4 class="panel-header">Pact Activity</h4>
    <p>Graph of $ pacted daily for your goal since it became published.</p>
</div>

<div class="panel panel-1">
    <h4 class="panel-header">Motivation Meter</h4>
    <p>Cool Graphic of what time you need matched to $ raised.</p>
</div>

<div class="panel">
    <h4 class="panel-header">Pacts Made</h4>
    <p>If any, shows a list of people and goals you've made pacts with and total $ amounts.</p>
</div>